body 
{
	background-color: #225239;
	font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	margin: auto;
	display: block;
	color: LightGray;
}

table td
{
	background-repeat: no-repeat; 
	background-position: center center;
}

table.details td {
  vertical-align: middle;
  text-align: right;
}

table.details td.name 
{
	text-align: right;
	vertical-align: middle;
	width: 10%;
	font-weight: bold;
}

table.details td.value {
  text-align: left;
  vertical-align: middle;
  width: 40%;
}


#panel
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #7a5923;
	color: #443826;
}
#panel h3 { color: #225239;}

#loading
{
	color: ;
}

#control
{
	padding: 10px 10px 10px 10px;
	float: left;
	width: 150px;
}

#control a { text-decoration: none; color: Gray;}
#map
{
	float: right;
}

